<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fertilizercrm">

    <!-- baidu map start -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- baidu map end -->


    <!-- easemob start -->
    <!-- Required -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- easemob end -->


    <!-- JPush start -->
    <!-- Required 自定义用来收发消息的相关权限 -->
    <permission
        android:name="com.example.fertilizercrm.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.example.fertilizercrm.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" />

    <!-- JPush end -->


    <!-- bugly start -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- bugly end -->
    <application
        android:name=".FertilizerApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="j42jISzNurd2McHUQAVrEbyE" />

        <!-- easemob start -->
        <!-- 设置环信应用的appkey nongjiale#nongjiale    easemob-demo#chatdemoui -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="nongjiale#nongjiale" />

        <!-- 声明sdk所需的service SDK核心功能 -->
        <service android:name="com.easemob.chat.EMChatService" />

        <activity
            android:name=".easemob.chatuidemo.activity.ChatActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".easemob.chatuidemo.activity.ShowBigImage"
            android:screenOrientation="portrait" />

        <!-- 新的朋友邀请消息页面 -->
        <activity
            android:name=".easemob.chatuidemo.activity.NewFriendsMsgActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />

        <!-- 添加好友 -->
        <activity
            android:name=".easemob.chatuidemo.activity.AddContactActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateHidden" />

        <!-- 自定义的alertdialog -->
        <activity
            android:name=".easemob.chatuidemo.activity.AlertDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" />

        <!-- user profile -->
        <activity
            android:name=".easemob.chatuidemo.activity.UserProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />

        <!-- 群组页面 -->
        <activity
            android:name=".easemob.chatuidemo.activity.GroupsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- 公开的群聊列表 -->
        <activity
            android:name=".easemob.chatuidemo.activity.PublicGroupsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- 新建群组 -->
        <activity
            android:name=".easemob.chatuidemo.activity.NewGroupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".easemob.chatuidemo.activity.GroupPickContactsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- 群聊简单信息 -->
        <activity
            android:name=".easemob.chatuidemo.activity.GroupSimpleDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />

        <!-- easemob end -->

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- JPush start -->
        <!-- Required SDK核心功能 -->
        <activity
        android:name="cn.jpush.android.ui.PushActivity"
        android:configChanges="orientation|keyboardHidden"
        android:exported="false">
        <intent-filter>
        <action android:name="cn.jpush.android.ui.PushActivity" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="com.example.fertilizercrm" />
        </intent-filter>
        </activity>
        <!-- Required  SDK核心功能 -->
        <service
        android:name="cn.jpush.android.service.DownloadService"
        android:enabled="true"
        android:exported="false" />

        <!-- Required SDK 核心功能 -->
        <service
        android:name="cn.jpush.android.service.PushService"
        android:enabled="true"
        android:exported="false">
        <intent-filter>
        <action android:name="cn.jpush.android.intent.REGISTER" />
        <action android:name="cn.jpush.android.intent.REPORT" />
        <action android:name="cn.jpush.android.intent.PushService" />
        <action android:name="cn.jpush.android.intent.PUSH_TIME" />
        </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
        android:name="cn.jpush.android.service.DaemonService"
        android:enabled="true"
        android:exported="true">
        <intent-filter>
        <action android:name="cn.jpush.android.intent.DaemonService" />

        <category android:name="com.example.fertilizercrm" />
        </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
        android:name="cn.jpush.android.service.PushReceiver"
        android:enabled="true"
        android:exported="false">
        <intent-filter android:priority="1000">
        <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
        <!-- Required  显示通知栏 -->
        <category android:name="com.example.fertilizercrm" />
        </intent-filter>
        <intent-filter>
        <action android:name="android.intent.action.USER_PRESENT" />
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
        </intent-filter>
        <!-- Optional -->
        <intent-filter>
        <action android:name="android.intent.action.PACKAGE_ADDED" />
        <action android:name="android.intent.action.PACKAGE_REMOVED" />

        <data android:scheme="package" />
        </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
        android:name=".component.JPushReceiver"
        android:enabled="true"
        android:exported="false">
        <intent-filter>
        <action android:name="cn.jpush.android.intent.REGISTRATION" />
        <!-- Required  用户注册SDK的intent -->
        <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
        <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
        <!-- Required  用户接收SDK消息的intent -->
        <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
        <!-- Required  用户接收SDK通知栏信息的intent -->
        <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
        <!-- Required  用户打开自定义通知栏的intent -->
        <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
        <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
        <action android:name="cn.jpush.android.intent.CONNECTION" />
        <!-- 接收网络变化 连接/断开 since 1.6.3 -->
        <category android:name="com.example.fertilizercrm" />
        </intent-filter>
        </receiver>

        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
        android:name="JPUSH_CHANNEL"
        android:value="developer-default" />
        <meta-data
        android:name="JPUSH_APPKEY"
        android:value="29cb3bbaecafd0610ecd04fb" />
        <!-- </>值来自开发者平台取得的AppKey -->

        <service
        android:name="com.baidu.location.f"
        android:enabled="true"
        android:process=":remote" />

        <!-- JPush end -->


        <!-- 登录页面 -->
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <!-- 密码修改页面 -->
        <activity
            android:name=".activity.PWDModifyActivity"
            android:screenOrientation="portrait" />
        <!-- 我的资料页面 -->
        <activity
            android:name=".activity.ProfileActivity"
            android:screenOrientation="portrait" />
        <!-- 通用的文本框信息修改页面 -->
        <activity
            android:name=".activity.TextModifyActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 产品列表页面 -->
        <activity
            android:name=".activity.ProductListActivity"
            android:screenOrientation="portrait" />
        <!-- 产品详情页面 -->
        <activity
            android:name=".activity.ProductActivity"
            android:screenOrientation="portrait" />
        <!-- 消息推广页面 -->
        <activity
            android:name=".activity.MessageExpandActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!-- 消息中心页面 -->
        <activity
            android:name=".activity.MessageCenterActivity"
            android:screenOrientation="portrait" />
        <!-- 联系人选择页面 -->
        <activity
            android:name=".activity.LinkmanSelectActivity"
            android:screenOrientation="portrait" />
        <!-- 我的客户页面 -->
        <activity
            android:name=".activity.CustomerListActivity"
            android:screenOrientation="portrait" />
        <!-- 待办事项页面 -->
        <activity
            android:name=".activity.ToDoListActivity"
            android:screenOrientation="portrait" />
        <!-- 业务员审核页面 -->
        <activity
            android:name=".activity.SalesmanAuditActivity"
            android:screenOrientation="portrait" />
        <!-- 业务员列表页面 -->
        <activity
            android:name=".activity.SalesmanListActivity"
            android:screenOrientation="portrait" />
        <!-- 拜访记录页面 -->
        <activity
            android:name=".activity.VisitRecordsListActivity"
            android:screenOrientation="portrait" />
        <!-- 业务申请查询列表 -->
        <activity
            android:name=".activity.BusinessApplyListActivity"
            android:screenOrientation="portrait" />
        <!-- 收款查询列表 -->
        <activity
            android:name=".activity.ReceivablesListActivity"
            android:screenOrientation="portrait" />
        <!-- 工作日报列表 -->
        <activity
            android:name=".activity.WorkDailyReportListActivity"
            android:screenOrientation="portrait" />
        <!-- 业绩排名 -->
        <activity
            android:name=".activity.PerformanceRankingsActivity"
            android:screenOrientation="portrait" />
        <!-- 收款页面 -->
        <activity
            android:name=".activity.ReceivablesActivity"
            android:screenOrientation="portrait" />
        <!-- 关于我们 -->
        <activity
            android:name=".activity.AboutUsActivity"
            android:screenOrientation="portrait" />
        <!-- 厂商列表 -->
        <activity
            android:name=".activity.FactoryListActivity"
            android:screenOrientation="portrait" />
        <!-- 发货页面 -->
        <activity
            android:name=".activity.SendOutActivity"
            android:screenOrientation="portrait" />
        <!-- 发货单详情 -->
        <activity
            android:name=".activity.SendOutDetailActivity"
            android:screenOrientation="portrait" />
        <!-- 进货 -->
        <activity
            android:name=".activity.SendInActivity"
            android:screenOrientation="portrait" />
        <!-- 进货详情 -->
        <activity
            android:name=".activity.SendInDetailActivity"
            android:screenOrientation="portrait" />
        <!-- 地区选择 -->
        <activity
            android:name=".activity.AreaActivity"
            android:screenOrientation="portrait" />
        <!-- 位置同步、签到 -->
        <activity
            android:name=".activity.LocationSyncActivity"
            android:screenOrientation="portrait" />
        <!-- 代理商列表 -->
        <activity
            android:name=".activity.AgentListActivity"
            android:screenOrientation="portrait" />
        <!-- 常用地址列表 -->
        <activity
            android:name=".activity.CommonAddressListActivity"
            android:screenOrientation="portrait" />
        <!-- 发货单列表 -->
        <activity
            android:name=".activity.SendOutListActivity"
            android:screenOrientation="portrait" />
        <!-- 进货单列表 -->
        <activity
            android:name=".activity.SendInListActivity"
            android:screenOrientation="portrait" />
        <!-- 业务员保存或修改 -->
        <activity
            android:name=".activity.SalesmanSaveOrEditActivity"
            android:screenOrientation="portrait" />
        <!-- 业务员日常工作 -->
        <activity
            android:name=".activity.SalesmanWorkListActivity"
            android:screenOrientation="portrait" />
        <!-- 业务员分配的产品列表 -->
        <activity
            android:name=".activity.SalesmanProductListActivity"
            android:screenOrientation="portrait" />
        <!-- 业务员分配的客户列表 -->
        <activity
            android:name=".activity.SalesmanCustomerListActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".component.LocationPushService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.ContactListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.WorkDailyReportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.BusinessApplyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.CustomerVisitAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.SignInQueryListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LocusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CommonWebviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FarmerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AgentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CustomerMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".easemob.chatuidemo.activity.GroupDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".easemob.chatuidemo.activity.EditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".easemob.chatuidemo.activity.ExitGroupDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom" />

        <activity android:name=".activity.FactoryProfileActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.OutsideSystemChannelActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.OutsideSystemChannelActivityAddActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>
